<html>
  <head>
  <style>
    #main {
      width : 400px;
      height : 100px;
      padding : 5px;
      background: <%= background %>;
      outline-style : solid;
      position: absolute;
      top:0;
      bottom: 0;
      left: 0;
      right: 0;
      margin: auto;
    }
    #cheat {
        display : <%= cheat %>;
    }
    #guess {
      position: absolute;
      bottom: 25px;
      left: 115px;
      display: <%= start %>;
    }
    #play {
      position: absolute;
      bottom: 25px;
      left: 170px;
      display: <%= restart %>;
    }
  </style>
  </head>
  <body>
    <div id="main">
      <h3><%= message %></h3>
        <form>
          <div id="guess">
            <input type='text' name='guess' />
            <input type='submit' value='Guess!' />
          </div>
          <div id="play">
            <input type='submit' name='play' value='Play!' />
          </div>
        </form>
    </div>
    <div id="cheat">
      <h3>Cheat Mode!</h3>
      <p>Number: <%= number %></p>
      <p>Guesses: <%= guesses_remaining %></p>
      <p>Guess: <%= guess %></p>
  </body>
</html>
